.keyword1 { color: #d35400; font-weight: bold; }
.data-type { color: #d35400; font-weight: bold; }
.keyword2 { color: #D35400; font-weight: normal; }
.function { color: #d35400; font-weight: normal; }
.keyword3 { color: #5E6D03; font-weight: normal; }
.reserved-word { color: #5E6D03; font-weight: normal; }
.literal1 { color: #00979C; font-weight: normal; }
.literal2 { color: #00979C; font-weight: normal; }
.variable { color: #00979C; font-weight: normal; }
.reserved-word-2 { color: #00979C; font-weight: normal; }
.literal-boolean { color: #00979C; font-weight: normal; }
.literal-char { color: #00979C; font-weight: normal; }
.literal-string-double-quote { color: #005C5F; font-weight: normal; }
.preprocessor { color: #5E6D03; font-weight: normal; }
.url { color: #0000ff; font-weight: normal; }
.operator { color: #434f54; font-weight: normal; }
.label { color: #7e7e7e; font-weight: bold; }
.comment1 { color: #434F54; font-weight: normal; }
.comment2 { color: #95a5a6; font-weight: normal; }
